.footerContainer {
  margin-top: 5rem 2rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation > div {
  padding: 0rem 1rem;
  color: var(--light-grey);
  font-size: 0.8rem;
}

.navigation > div > .hashLink {
  text-decoration: none;
  color: var(--light-grey);
  &:visited,
  &:link {
    text-decoration: none;
  }
}

.paddingTop1 {
  padding-top: 1.5rem;
}
.paddingTop2 {
  padding-top: 2rem;
}
