:root {
  --purple: #5854ea;
  --grey: grey;
  --light-grey: #9ca3af;
  --green: #34d399;
  --background-grey: #f4f4f5;
}

body {
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-primary {
  border: none;
  background-color: var(--purple);
  padding: 0.8rem;
  color: white;
  border-radius: 2rem;
}
