.bannerContainer {
  padding: 3rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.headingPart1 {
  all: unset;
  font-weight: 900;
  font-size: 3rem;
}

.headingPart2 {
  all: unset;
  font-weight: 900;
  font-size: 3rem;
  color: var(--purple);
}

.paraContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--grey);
  padding: 2rem 0rem;
  font-size: 0.8rem;
}

.para {
  all: unset;
}

.learnMore {
  color: grey;
  font-size: 0.8rem;
  padding: 1rem 0rem;
}

.positinedButton {
  border: none;
  background-color: var(--green);
  padding: 0.2rem 0.4rem;
  color: white;
  border-radius: 2rem;
  font-size: 0.7rem;
  position: relative;
  top: 0.4rem;
  left: 2.5rem;
}
